#level1{
    border: 3px solid;
    display: inline-block;
    margin-top: 50px;
    margin-left: 400px;
    padding:20px;
    background-color: rgb(173, 197, 197);
}
.inc{
    font-size: 60px;
    margin:2px;
    height:80px;
    width:80px

}
#print{
    height: 50px;
    font-size: 23px;
    border: 3px;
    width:340px
}