#Time-square{
    background-color: rgb(90, 170, 240);
    margin: auto;
    width: 200px;
    height: 200px;
    
}
#Timerid{
    text-align: center;
    font-size: 100px;
    align-items: center;

}