#upper{
    border: 3px solid;
    display: inline-block;
    margin-top: 10 px;
    margin-left: 500px;
    padding:20px;
    background-color: rgb(61, 73, 73);
}
#heading{
    color: blanchedalmond;
}
#lowera{
    color: antiquewhite;
    font-size: 29px;
    text-align: left;
    display: block;
    
    padding: 3px;
}
#lowerb{
    color: antiquewhite;
    font-size: 29px;
    text-align: left;
    display: block;
    padding: 3px;
    margin-top: 25px;
}

#username{
    color:black;
    border-radius: 0px 3px 3px 0px ;
    padding: 4px;
    block-size: 39px;
    width: 300px;
    font-size: larger;
}
#userpassword{
    color:black;
    border-radius: 0px 3px 3px 0px ;
    padding: 4px;
    block-size: 39px;
    width: 300px;
    font-size: larger;
}
#signbutton{
    background-color: rgb(41, 179, 48);
    border: 2;
    width: 100px;
    height: 50px;
    margin-top: 55px;
    cursor: pointer;
    border-radius: 4px;
    font-size:larger ;
}
#register-navigation{
    background-color: rgb(4, 194, 83);
    margin-left: 100px;
    margin-top:40px;
    width:100px;
    height:50px;
    border: 2;
    cursor: pointer;
    border-radius: 4px ;
    font-size: larger;
}