.button-class{
    background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            align-items: center;
            margin-left: 500px;
            margin-top: 200px;
            width: 250px;
            height: 100px;
            background-color:rgb(224, 219, 150);
}