*{
    background-color: aqua;
    border: 2px 2px 2px 2px;
}
.container{
    width: 80%;
    height: 700px;
    overflow: hidden;
    border: 10px;
    margin: 20px auto;

}
#full-image img{
    width: 100%;
    height: 550px;
    border: 2px solid black;
}
#inner-container img{
    width: 20%;
    height: 150px;
    border: 2px solid black;
    float:left;
    margin:4px;
    opacity: .8;
}
.text{
    font-size: larger;
    column-gap: 40px;
}